alembic==1.8.1 ; python_version >= "3.8" and python_version < "4.0"
aniso8601==3.0.0 ; python_version >= "3.8" and python_version < "4.0"
async-timeout==5.0.1 ; python_version >= "3.8" and python_full_version < "3.11.3"
bcrypt==4.0.1 ; python_version >= "3.8" and python_version < "4.0"
blinker==1.4 ; python_version >= "3.8" and python_version < "4.0"
certifi==2021.10.8 ; python_version >= "3.8" and python_version < "4.0"
cffi==1.15.0 ; python_version >= "3.8" and python_version < "4.0"
chardet==3.0.4 ; python_version >= "3.8" and python_version < "4.0"
charset-normalizer==3.4.4 ; python_version >= "3.8" and python_version < "4.0"
click==6.7 ; python_version >= "3.8" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "win32"
crontab==1.0.5 ; python_version >= "3.8" and python_version < "4.0"
cryptography==37.0.2 ; python_version >= "3.8" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.8" and python_version < "4.0"
dnspython==1.16.0 ; python_version >= "3.8" and python_version < "4.0"
enum34==1.1.6 ; python_version >= "3.8" and python_version < "4.0"
et-xmlfile==2.0.0 ; python_version >= "3.8" and python_version < "4.0"
eventlet==0.25.0 ; python_version >= "3.8" and python_version < "4.0"
exceptiongroup==1.3.1 ; python_version >= "3.8" and python_version < "3.11"
flake8==4.0.1 ; python_version >= "3.8" and python_version < "4.0"
flask-bcrypt==0.7.1 ; python_version >= "3.8" and python_version < "4.0"
flask-cli==0.4.0 ; python_version >= "3.8" and python_version < "4.0"
flask-cors==3.0.9 ; python_version >= "3.8" and python_version < "4.0"
flask-excel==0.0.7 ; python_version >= "3.8" and python_version < "4.0"
flask-httpauth==3.2.3 ; python_version >= "3.8" and python_version < "4.0"
flask-jwt==0.3.2 ; python_version >= "3.8" and python_version < "4.0"
flask-login==0.4.1 ; python_version >= "3.8" and python_version < "4.0"
flask-migrate==2.7.0 ; python_version >= "3.8" and python_version < "4.0"
flask-potion==0.16.0 ; python_version >= "3.8" and python_version < "4.0"
flask-principal==0.4.0 ; python_version >= "3.8" and python_version < "4.0"
flask-rest==1.3 ; python_version >= "3.8" and python_version < "4.0"
flask-restful==0.3.6 ; python_version >= "3.8" and python_version < "4.0"
flask-rq2==18.3 ; python_version >= "3.8" and python_version < "4.0"
flask-script==2.0.6 ; python_version >= "3.8" and python_version < "4.0"
flask-socketio==4.3.2 ; python_version >= "3.8" and python_version < "4.0"
flask-sqlalchemy==2.3.2 ; python_version >= "3.8" and python_version < "4.0"
flask==1.0.3 ; python_version >= "3.8" and python_version < "4.0"
freezegun==1.5.5 ; python_version >= "3.8" and python_version < "4.0"
gevent==21.1.2 ; python_version >= "3.8" and python_version < "4.0"
greenlet==0.4.17 ; python_version >= "3.8" and python_version < "4.0"
gunicorn==20.1.0 ; python_version >= "3.8" and python_version < "4.0"
idna==2.8 ; python_version >= "3.8" and python_version < "4.0"
importlib-metadata==8.5.0 ; python_version >= "3.8" and python_version < "3.9"
importlib-resources==6.4.5 ; python_version >= "3.8" and python_version < "3.9"
iniconfig==2.1.0 ; python_version >= "3.8" and python_version < "4.0"
itsdangerous==0.24 ; python_version >= "3.8" and python_version < "4.0"
jinja2==2.11.3 ; python_version >= "3.8" and python_version < "4.0"
jsonschema==2.6.0 ; python_version >= "3.8" and python_version < "4.0"
lml==0.2.0 ; python_version >= "3.8" and python_version < "4.0"
mako==1.0.7 ; python_version >= "3.8" and python_version < "4.0"
markupsafe==1.1.1 ; python_version >= "3.8" and python_version < "4.0"
mccabe==0.6.1 ; python_version >= "3.8" and python_version < "4.0"
meinheld==1.0.2 ; python_version >= "3.8" and python_version < "4.0"
monotonic==1.5 ; python_version >= "3.8" and python_version < "4.0"
numpy==1.24.4 ; python_version >= "3.8" and python_version < "3.10"
numpy==2.2.6 ; python_version >= "3.10" and python_version < "4.0"
odfpy==1.4.1 ; python_version >= "3.8" and python_version < "4.0"
openpyxl==3.1.5 ; python_version >= "3.8" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.8" and python_version < "4.0"
pandas==1.4.4 ; python_version >= "3.8" and python_version < "4.0"
pdfkit==1.0.0 ; python_version >= "3.8" and python_version < "4.0"
pluggy==1.5.0 ; python_version >= "3.8" and python_version < "4.0"
pycodestyle==2.8.0 ; python_version >= "3.8" and python_version < "4.0"
pycparser==2.18 ; python_version >= "3.8" and python_version < "4.0"
pyexcel-io==0.6.7 ; python_version >= "3.8" and python_version < "4.0"
pyexcel-ods==0.5.6 ; python_version >= "3.8" and python_version < "4.0"
pyexcel-webio==0.1.4 ; python_version >= "3.8" and python_version < "4.0"
pyexcel-xls==0.5.8 ; python_version >= "3.8" and python_version < "4.0"
pyexcel-xlsx==0.5.8 ; python_version >= "3.8" and python_version < "4.0"
pyexcel==0.5.15 ; python_version >= "3.8" and python_version < "4.0"
pyflakes==2.4.0 ; python_version >= "3.8" and python_version < "4.0"
pyjwt==1.4.2 ; python_version >= "3.8" and python_version < "4.0"
pymysql==1.0.2 ; python_version >= "3.8" and python_version < "4.0"
pytest-flask-sqlalchemy==1.1.0 ; python_version >= "3.8" and python_version < "4.0"
pytest-flask==1.3.0 ; python_version >= "3.8" and python_version < "4.0"
pytest-mock==3.14.1 ; python_version >= "3.8" and python_version < "4.0"
pytest==7.4.4 ; python_version >= "3.8" and python_version < "4.0"
python-dateutil==2.8.1 ; python_version >= "3.8" and python_version < "4.0"
python-dotenv==0.10.5 ; python_version >= "3.8" and python_version < "4.0"
python-editor==1.0.3 ; python_version >= "3.8" and python_version < "4.0"
python-engineio==3.14.2 ; python_version >= "3.8" and python_version < "4.0"
python-socketio==4.6.1 ; python_version >= "3.8" and python_version < "4.0"
pytz==2020.1 ; python_version >= "3.8" and python_version < "4.0"
redis==6.1.1 ; python_version >= "3.8" and python_version < "4.0"
requests==2.32.4 ; python_version >= "3.8" and python_version < "4.0"
rfc3987==1.3.7 ; python_version >= "3.8" and python_version < "4.0"
rq-scheduler==0.13.1 ; python_version >= "3.8" and python_version < "4.0"
rq==1.3.0 ; python_version >= "3.8" and python_version < "4.0"
setuptools==75.3.3 ; python_version >= "3.8" and python_version < "4.0"
six==1.11.0 ; python_version >= "3.8" and python_version < "4.0"
sqlalchemy==1.3.15 ; python_version >= "3.8" and python_version < "4.0"
strict-rfc3339==0.7 ; python_version >= "3.8" and python_version < "4.0"
texttable==1.7.0 ; python_version >= "3.8" and python_version < "4.0"
tomli==2.4.0 ; python_version >= "3.8" and python_version < "3.11"
typing-extensions==4.13.2 ; python_version >= "3.8" and python_version < "3.11"
urllib3==1.24.3 ; python_version >= "3.8" and python_version < "4"
werkzeug==1.0.1 ; python_version >= "3.8" and python_version < "4.0"
xlrd==2.0.2 ; python_version >= "3.8" and python_version < "4.0"
xlwt==1.3.0 ; python_version >= "3.8" and python_version < "4.0"
zipp==3.20.2 ; python_version >= "3.8" and python_version < "3.9"
zope-event==5.0 ; python_version >= "3.8" and python_version < "4.0"
zope-interface==7.2 ; python_version >= "3.8" and python_version < "4.0"
