<nz-content>
  <nz-page-header class="margin-top margin-bottom" (nzBack)="onBack()" nzBackIcon [nzTitle]="'PLANNER' | translate">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item><a class="secondary-link" [routerLink]="['/ecoe/' + ecoeId + '/admin']">{{ecoe_name}}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><nz-tag class="secondary-tag">{{"PLANNER" | translate}}</nz-tag></nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-extra>
      <button [disabled]="shifts.length && rounds.length == 0" [routerLink]="['/ecoe/' + ecoeId + '/admin/evaluators']" nz-button [nzType]="'primary'"><span>{{"CONFIGURATION" | translate}} {{"EVALUATORS" | translate}} <i nz-icon nzType="arrow-right" nzTheme="outline"></i></span></button>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-table #table
            nzBordered
            [nzData]="rounds"
            [nzLoading]="loading"
            [nzShowPagination]="false" [nzScroll]="{ x: '800px', y: '600px' }">
    <thead>
    <tr>
      <th nzWidth="200px" nzLeft="0px">
        <h3 *ngIf="totalStudents!=0">
          <span nz-icon nzType="warning" nzTheme="outline" class="warning"></span>
          {{ 'AUTO_ASSINGMENT_EXCESS_STUDENTS' | translate:{totalStudents: totalStudents} }}
        </h3>
      </th>
      <th nzWidth="200px" nzLeft="200px" text-center *ngFor="let _round of rounds">
        <div nz-col nzSpan="6">
          <h3>
            <app-action-buttons class="action-buttons"
                                [isEditing]="false"
                                [isNewItem]="false"
                                [showDeleteButton]="false"
                                (startEdit)="addRound(_round)">
            </app-action-buttons>
            {{_round.roundCode}}
          </h3>
        </div>
        <div nz-col nzSpan="18">
          {{_round.description}}
        </div>
      </th>
      <th nzWidth="200px" nzLeft="200px">
        <button nz-button
                nzGhost
                nzType="primary"
                (click)="addRound()"
                [nzBlock]="true">
          <i nz-icon [nzType]="'plus-circle'" [nzTheme]="'twotone'" icon-16></i>
          {{"ADD_ROUND" | translate}}
        </button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let _shift of shifts">
      <td nzLeft="0px" text-center>
        <div nz-col nzSpan="6">
          <h3>
            <app-action-buttons class="action-buttons"
                                [isEditing]="false"
                                [isNewItem]="false"
                                [showDeleteButton]="false"
                                (startEdit)="addShift(_shift)">
            </app-action-buttons>
            {{_shift.shiftCode}}
          </h3>
        </div>
        <div nz-col nzSpan="18">
          {{_shift.timeStart | date: 'dd/MM/yyyy HH:mm'}}
        </div>
      </td>
      <td nzLeft="200px" *ngFor="let _round of rounds">
        <app-planner-selector [ecoeId]="ecoeId"
                              [round]="_round"
                              [shift]="_shift"
                              [stationsNum]="stationsTotal"
        >
        </app-planner-selector>
      </td>
      <td [nzDisabled]="true" nzLeft="200px"></td>
    </tr>
    <tr>
      <td nzLeft="0px">
        <button nz-button
                nzGhost
                nzType="primary"
                (click)="addShift()"
                [nzBlock]="true">
          <i nz-icon [nzType]="'plus-circle'" [nzTheme]="'twotone'" icon-16></i>
          {{"ADD_SHIFT" | translate}}
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>

  <button nz-button
          nzType="default"
          nzSize="large"
          [nzBlock]="true"
          style="margin-top: 10px;"
          (click)="autoCreatePlanners()"
          [nzLoading]="loading">
    <i nz-icon nzType="usergroup-add" nzTheme="outline"></i>
    {{"AUTO_PLANNERS" | translate}}
  </button>

  <button nz-button
          nzType="dashed"
          nzSize="large"
          [nzBlock]="true"
          style="margin-top: 10px;"
          (click)="openImportModal()"
          [nzLoading]="loading">
    <i nz-icon nzType="upload" nzTheme="outline"></i>
    {{"IMPORT_PLANNER_EXCEL" | translate}}
  </button>

  <ng-container>
    <nz-drawer
    [nzClosable]="true"
    [nzVisible]="logPromisesERROR.length > 0"
    nzPlacement="right"
    [nzTitle]="'ERRORS' | translate"
    (nzOnClose)="clearImportErrors()"
    [nzWidth]="540">
      <nz-alert *ngFor="let error of logPromisesERROR"
                nzType="error"
                nzCloseable
                [nzMessage]="error.reason.statusText"
                [nzDescription]="error.reason.message"
                nzShowIcon>
    </nz-alert>
    </nz-drawer>
  </ng-container>
</nz-content>

<nz-modal [(nzVisible)]="showAddShift"
          [nzTitle]="'ADD_SHIFT' | translate"
          (nzOnCancel)="closeModalShift()"
          nzMaskClosable="false"
          [nzFooter]="modalFooterShift">
  <form nz-form [formGroup]="shiftForm">
    <nz-form-item>
      <nz-form-label [nzRequired]="true" [nzFor]="'shift_code'">{{"CODE" | translate}}</nz-form-label>
      <nz-form-control>
        <input nz-input id="shift_code" [formControlName]="'shift_code'"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzRequired]="true">{{"DATE" | translate}}</nz-form-label>
      <nz-form-control>
        <nz-input-group nzCompact>
          <nz-date-picker [formControlName]="'datePicker'"
                          nzFormat="dd-MM-yyyy"
                          [nzPlaceHolder]="'SELECT_DATE' | translate">
          </nz-date-picker>
          <nz-time-picker formControlName="timePicker"
                          [nzPlaceHolder]="'SELECT_HOUR' | translate"
                          nzFormat="HH:mm">
          </nz-time-picker>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <ng-template #modalFooterShift>
      <button *ngIf="isEditing && isEditing.edit" nz-button [nzType]="'danger'"
              nz-popconfirm [nzPopconfirmTitle]="'DELETE_CONFIRMATION' | translate"
              (nzOnConfirm)="modalDeleteShift(isEditing.itemRef)"
              style="float: left;">
        <span>{{"DELETE" | translate}}</span>
      </button>

      <button nz-button (click)="closeModalShift()" class="margin-right">
        <span>{{"CANCEL" | translate}}</span>
      </button>
      <button nz-button [nzType]="'primary'" [disabled]="!shiftForm.valid"
              (click)="submitFormShift($event, shiftForm.value)">
        <span>{{"ACCEPT" | translate}}</span>
      </button>
    </ng-template>
  </form>
</nz-modal>

<nz-modal [(nzVisible)]="showAddRound"
          [nzTitle]="'ADD_ROUND' | translate"
          (nzOnCancel)="closeModalRound()"
          nzMaskClosable="false"
          [nzFooter]="modalFooterRound">
  <form nz-form [formGroup]="roundForm">
    <nz-form-item>
      <nz-form-label [nzRequired]="true" [nzFor]="'round_code'">{{"CODE" | translate}}</nz-form-label>
      <nz-form-control>
        <input nz-input id="round_code" [formControlName]="'round_code'"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzRequired]="true" [nzFor]="'description'">{{"DESCRIPTION" | translate}}</nz-form-label>
      <nz-form-control>
        <input nz-input id="description" [formControlName]="'description'"/>
      </nz-form-control>
    </nz-form-item>

    <ng-template #modalFooterRound>
      <button *ngIf="isEditing?.edit" nz-button [nzType]="'danger'"
              nz-popconfirm [nzPopconfirmTitle]="'DELETE_CONFIRMATION' | translate"
              (nzOnConfirm)="modalDeleteRound(isEditing.itemRef)"
              style="float: left;">
        <span>{{"DELETE" | translate}}</span>
      </button>

      <button nz-button (click)="closeModalRound()" class="margin-right">
        <span>{{"CANCEL" | translate}}</span>
      </button>
      <button nz-button [nzType]="'primary'" (click)="submitFormRound($event, roundForm.value)">
        <span>{{"ACCEPT" | translate}}</span>
      </button>
    </ng-template>
  </form>
</nz-modal>

<!-- Import Planner Modal -->
<nz-modal [(nzVisible)]="showImportModal"
          [nzTitle]="'IMPORT_PLANNER_EXCEL' | translate"
          (nzOnCancel)="closeImportModal()"
          nzMaskClosable="false"
          [nzFooter]="modalFooterImport">
  
  <div style="height: 250px">
    <nz-upload [nzMultiple]="false"
              [nzAccept]="'.csv,.xlsx,.xls'"
              [nzCustomRequest]="handlePlannerUpload"
              [nzShowUploadList]="false"
              nzType="drag">
      <p class="ant-upload-drag-icon">
        <i nz-icon nzType="inbox"></i>
      </p>
      <p class="ant-upload-text">{{ 'CLICK_HERE_OR_DRAG_FILE' | translate }}</p>
      <p class="ant-upload-hint">
        {{ 'DO_NOT_SELECT_OR_DRAG_MORE_THAN_ONE_FILE' | translate }}
      </p>
    </nz-upload>
  </div>

  <nz-divider></nz-divider>

  <div>
    <nz-row nzType="flex" nzAlign="middle" nzJustify="center">
      <nz-col nzSpan="24" text-center>
        <p>{{ 'PLANNER_IMPORT_DESCRIPTION' | translate }}</p>
        <p><strong>{{ 'PLANNER_IMPORT_COLUMNS' | translate }}:</strong> DNI, ESTUDIANTE, APELLIDOS, NOMBRE, Estación Inicial, FECHA_TURNO</p>
        <p><strong>{{ 'PLANNER_IMPORT_SHIFT_MARKER' | translate }}:</strong> <code>---TURNO---</code></p>
      </nz-col>
      <nz-col nzSpan="24" text-center style="margin-top: 10px;">
        <span>{{ 'DOWNLOAD_TEMPLATE_HERE' | translate }}</span>
      </nz-col>
      <nz-col nzSpan="24" text-center style="margin-top: 5px;">
        <button nz-button nzSize="default" nzType="primary" (click)="downloadPlannerTemplate()">
          <i nz-icon nzType="download"></i>
          {{ 'DOWNLOAD_TEMPLATE' | translate }}
        </button>
      </nz-col>
    </nz-row>
  </div>

  <ng-template #modalFooterImport>
    <button nz-button (click)="closeImportModal()">
      <span>{{"CLOSE" | translate}}</span>
    </button>
  </ng-template>
</nz-modal>
